<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Cat치logo de Ofertas</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body style="background-color: #f2f2f2; overflow-y: scroll">

    <% var footerStyle = "position: relative; left: -145px;"%>

    <% currPage = '/CatalogoDeOfertas' %>
    <% include partials/navbar %>

    <% if (isAdmin) %>
      <% include partials/downButton %>
    <% } %>

    <div class="main">
      <div class="header" style="height:40px ;padding: 0px; width:100%; margin: auto">
        <div class="blueBar" style="float: left; height:100%;"></div>
        <p style="margin-bottom: 0px; padding-top: 25px; padding-right: 25px"> Cat치logo de Ofertas </p>
      </div>
      <div class="tabordion">
        
        <section id="section1">
          <input type="radio" name="sections" id="option1" checked>
          <label for="option1">Espa침ol</label>
          <article>
            
            <% var category = esp; %>
            <% include partials/grid.ejs %>

            <div class="blueBar" style="height: <%= blueHeight(category) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>
    
        <section id="section2">
          <input type="radio" name="sections" id="option2">
          <label for="option2">Matem치ticas</label>
          <article>
            
            <% category = mat; %>
            <% include partials/grid.ejs %>

            <div class="blueBar" style="height: <%= blueHeight(category) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section3">
          <input type="radio" name="sections" id="option3">
          <label for="option3">Ciencias</label>
          <article>
            
            <% category = cie; %>
            <% include partials/grid.ejs %>

            <div class="blueBar" style="height: <%= blueHeight(category) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section4">
          <input type="radio" name="sections" id="option4">
          <label for="option4">Historia</label>
          <article>

            <% category = his; %>
            <% include partials/grid.ejs %>

            <div class="blueBar" style="height: <%= blueHeight(category) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section5">
          <input type="radio" name="sections" id="option5">
          <label for="option5">Textos</label>
          <article>

            <% category = tex; %>
            <% include partials/grid.ejs %>

            <div class="blueBar" style="height: <%= blueHeight(category) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>
    
      </div>
    </div>
    
  </body>
</html>