<html class="no-js" lang="es" ng-app="sort">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Catálogo de Ofertas</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/drag.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="js/sort.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body style="background-color: #f2f2f2; overflow-y: scroll">

    <% var footerStyle = "position: relative; left: -145px;"%>

    <% currPage = '/CatalogoDeOfertas' %>
    <% include partials/navbar %>

    <% if (isAdmin) { %>
      <% include partials/downButton %>
    <% } %>

    <div class="main">
      <div class="header" style="height:40px ;padding: 0px; width:100%; margin: auto">
        <div class="blueBar" style="float: left; height:100%;"></div>
        <p style="margin-bottom: 0px; padding-top: 25px; padding-right: 25px"> Catálogo de Ofertas </p>
      </div>
      <div class="tabordion" ng-controller="MainController">
        
        <section id="section1">
          <input type="radio" name="sections" id="option1" checked value="Esp">
          <label for="option1" style="pointer-events: {{ labelPointer }}">Español</label>
          <article style="position: absolute">
          	<% if (isAdmin) { %>
            <div style="position: relative; top: -3px; left: 20px; height: 0px;">
              	<a ng-if='!(editing.val)' href='' style="color: #0187e0 !important; font-size: 14px !important;" ng-click="edit('Esp')">Editar orden</a>
              	<button ng-if='editing.val' class="mybutton" ng-click="submitOrder('Esp')">Finalizar</button>
            </div>
            <% } %>
            <div style="position: relative; top: -10px; right: -644px; height: 0px; display: {{display()}}">
	            <p style="color: black !important; font-size: 14px !important; display: inline;">Organizar por:</p>
	            <select ng-model="sortTypeE.val" style="width: 80px; height: 30px; padding: 0px 6px; font-size: 12px; display: inline;" ng-change="_rearrange('.EspI', false)">
	                <option value="order" selected>estándar</option>
	                <option value="desde">ubicación</option>
	                <option value="sortTitle">título</option>              
            	</select>
            </div>
            
            <div class="grids">
              
                <div class="item EspI" ng-repeat="tema in espB | orderBy:[sortTypeE.val, 'sortTitle']">
                  	<b-grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
                <div class="item EspI" ng-repeat="tema in esp | orderBy:[sortTypeE.val, 'sortTitle']">
                  	<grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
            </div>

            <div class="blueBar" style="height: <%= blueHeight(esp) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>
    
        <section id="section2">
          <input type="radio" name="sections" id="option2" value="Mat">
          <label for="option2" style="pointer-events: {{ labelPointer }}">Matemáticas</label>
          <article>
            
            <% if (isAdmin) { %>
            <div style="position: relative; top: -3px; left: 20px; height: 0px;">
              	<a ng-if='!(editing.val)' href='' style="color: #0187e0 !important; font-size: 14px !important;" ng-click="edit('Mat')">Editar orden</a>
              	<button ng-if='editing.val' class="mybutton" ng-click="submitOrder('Mat')">Finalizar</button>
            </div>
            <% } %>
            <div style="position: relative; top: -10px; right: -644px; height: 0px; display: {{display()}}">
              	<p style="color: black !important; font-size: 14px !important; display: inline;">Organizar por:</p>
              	<select ng-model="sortTypeM.val" style="width: 80px; height: 30px; padding: 0px 6px; font-size: 12px; display: inline;" ng-change="_rearrange('.MatI', false)">
                	<option value="order" selected>estándar</option>
                	<option value="desde">ubicación</option>
                	<option value="sortTitle">título</option>              
              	</select>
            </div>
            
            <div class="grids">
              	<div class="item MatI" ng-repeat="tema in matB | orderBy:[sortTypeM.val, 'sortTitle']">
                  	<b-grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
                <div class="item MatI" ng-repeat="tema in mat | orderBy:[sortTypeM.val, 'sortTitle']">
                  	<grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
            </div>

            <div class="blueBar" style="height: <%= blueHeight(mat) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section3">
          <input type="radio" name="sections" id="option3" value="Cie">
          <label for="option3" style="pointer-events: {{ labelPointer }}">Ciencias</label>
          <article>
            
            <% if (isAdmin) { %>
            <div style="position: relative; top: -3px; left: 20px; height: 0px;">
              	<a ng-if='!(editing.val)' href='' style="color: #0187e0 !important; font-size: 14px !important;" ng-click="edit('Cie')">Editar orden</a>
              	<button ng-if='editing.val' class="mybutton" ng-click="submitOrder('Cie')">Finalizar</button>
            </div>
            <% } %>
            <div style="position: relative; top: -10px; right: -644px; height: 0px; display: {{display()}}">
              	<p style="color: black !important; font-size: 14px !important; display: inline;">Organizar por:</p>
              	<select ng-model="sortTypeC.val" style="width: 80px; height: 30px; padding: 0px 6px; font-size: 12px; display: inline;" ng-change="_rearrange('.CieI', false)">
                	<option value="order" selected>estándar</option>
                	<option value="desde">ubicación</option>
                	<option value="sortTitle">título</option>              
              	</select>
            </div>
            
            <div class="grids">
              <div class="item CieI" ng-repeat="tema in cieB | orderBy:[sortTypeC.val, 'sortTitle']">
                  	<b-grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
                <div class="item CieI" ng-repeat="tema in cie | orderBy:[sortTypeC.val, 'sortTitle']">
                  	<grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
            </div>

            <div class="blueBar" style="height: <%= blueHeight(cie) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section4">
          <input type="radio" name="sections" id="option4" value="His">
          <label for="option4" style="pointer-events: {{ labelPointer }}">Historia</label>
          <article>
            
            <% if (isAdmin) { %>
            <div style="position: relative; top: -3px; left: 20px; height: 0px;">
              	<a ng-if='!(editing.val)' href='' style="color: #0187e0 !important; font-size: 14px !important;" ng-click="edit('His')">Editar orden</a>
              	<button ng-if='editing.val' class="mybutton" ng-click="submitOrder('His')">Finalizar</button>
            </div>
            <% } %>
            <div style="position: relative; top: -10px; right: -644px; height: 0px; display: {{display()}}">
              	<p style="color: black !important; font-size: 14px !important; display: inline;">Organizar por:</p>
              	<select ng-model="sortTypeH.val" style="width: 80px; height: 30px; padding: 0px 6px; font-size: 12px; display: inline;" ng-change="_rearrange('.HisI' , false)">
            		<option value="order" selected>estándar</option>
	                <option value="desde">ubicación</option>
	                <option value="sortTitle">título</option>              
              	</select>
            </div>
            
            <div class="grids">
              <div class="item HisI" ng-repeat="tema in hisB | orderBy:[sortTypeH.val, 'sortTitle']">
                  	<b-grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
                <div class="item HisI" ng-repeat="tema in his | orderBy:[sortTypeH.val, 'sortTitle']">
                  	<grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
            </div>

            <div class="blueBar" style="height: <%= blueHeight(his) %>px; position: relative; top: -16px; left: -160px"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>

        <section id="section5">
          <input type="radio" name="sections" id="option5" value="Tex">
          <label for="option5" style="pointer-events: {{ labelPointer }}">Textos</label>
          <article>
            
            <% if (isAdmin) { %>
            <div style="position: relative; top: -3px; left: 20px; height: 0px;">
              	<a ng-if='!(editing.val)' href='' style="color: #0187e0 !important; font-size: 14px !important;" ng-click="edit('Tex')">Editar orden</a>
              	<button ng-if='editing.val' class="mybutton" ng-click="submitOrder('Tex')">Finalizar</button>
            </div>
            <% } %>
            <div style="position: relative; top: -10px; right: -644px; height: 0px; display: {{display()}}">
              	<p style="color: black !important; font-size: 14px !important; display: inline;">Organizar por:</p>
              	<select ng-model="sortTypeT.val" style="width: 80px; height: 30px; padding: 0px 6px; font-size: 12px; display: inline;" ng-change="_rearrange('.TexI', false)">
	                <option value="order" selected>estándar</option>
	                <option value="desde">ubicación</option>
	                <option value="sortTitle">título</option>              
              	</select>
            </div>
            
            <div class="grids">
              <div class="item TexI" ng-repeat="tema in texB | orderBy:[sortTypeT.val, 'sortTitle']">
                  	<b-grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
                
                <div class="item TexI" ng-repeat="tema in tex | orderBy:[sortTypeT.val, 'sortTitle']">
                  	<grid info="tema" edit="editing.val" switch="switch" l="labelPointer" first="$first" last="$last" index='$index' dragstart="dragstart" dragover="dragover" drop="drop" dragexit="dragexit" dragb="dragb">
                </div>
            </div>

            <div class="blueBar" style="height: <%= blueHeight(tex) %>px; position: relative; top: -16px; left: -160px" ng-init="init()"></div>

            <% include partials/footer.ejs %>

          </article>
        </section>
    
      </div>
    </div>
    
    <script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (decodeURIComponent(pair[0]) == variable) {
                return decodeURIComponent(pair[1]);
            }
        }
        }


    var am=getQueryVariable("cat");
    var allElems = document.getElementsByName('sections');
    for (i = 0; i < allElems.length; i++) {
        if (allElems[i].type == 'radio' && allElems[i].value ==am ) {
            allElems[i].checked = true;
        }
    }
    </script>
    <% 
    espB = [];
    esps = [];
    matB = [];
    mats = [];
    cieB = [];
    cies = [];
    hisB = [];
    hiss = [];
    texB = [];
    texs = [];
    cats = [esp, mat, cie, his, tex];
    bs = [espB, matB, cieB, hisB, texB];
    noBs = [esps, mats, cies, hiss, texs];
    bs.forEach(function(b, index) {
      cat = cats[index]
      cat.forEach(function(tema, index) {
        if (tema['badge']) {
          b.push(tema);
        }
      });
    });
    noBs.forEach(function(noB, index) {
      cats[index].forEach(function(tema, index) {
        if (!tema['badge']) {
          noB.push(tema);
        }
      });
    });
    %>

    <script>
    var espB = <%- JSON.stringify(espB) %>
    var esp = <%- JSON.stringify(esps) %>
    var matB = <%- JSON.stringify(matB) %>
    var mat = <%- JSON.stringify(mats) %>
    var cieB = <%- JSON.stringify(cieB) %>
    var cie = <%- JSON.stringify(cies) %>
    var hisB = <%- JSON.stringify(hisB) %>
    var his = <%- JSON.stringify(hiss) %>
    var texB = <%- JSON.stringify(texB) %>
    var tex = <%- JSON.stringify(texs) %>
    </script>

  </body>
</html>