<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Compartir Experiencias</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/forum.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body style="background-color: #f2f2f2;">
    <% currPage = 'CE' %>
    <% include partials/navbar %>
    <% %>

    <div class="main">

      <div style="display: flex;">

<!-- Side Bar -->

        <div class="blueBar" style="float:left; height: 800px; padding: 0px; width: 240px; margin-left: 20px; overflow-y: auto">

<!-- AddTopic modal -->
          <p class="addComment white" data-toggle="modal" data-target="#addTopic"><img src='/img/whiteplus.png' class="plus">Añadir una pregunta</p> 

          <div class="modal fade" id="addTopic" role="dialog">
            <div class="modal-dialog modal-sm" style="width: 500px">
              <div class="modal-content">
                <form action="/CompartirExperiencias" id="addSubject" method="POST">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Empezar una conversación</h4>
                  </div>
                  <div class="modal-body" style="margin-bottom: 30px">
                    <label>Pregunta
                      <input type="text" name="topic">
                    </label>
                    <label>Comentario
                        <textarea name="comment" rows="4"></textarea>
                    </label>
                    <label>Su nombre
                      <input type="text" name="name">
                    </label>
                    <input type="hidden" name="date" id="todayDate1"/>
                    <input type="submit" class="mybutton" value="Enviar" style="float: left"></input>
                  </div>
                </form>
              </div>
            </div>
          </div>

<!-- topics -->
          <% topics.reverse() %>
          <input type="text" name="title" id="search" placeholder="buscar" class="search" autocomplete="off"/>
   
          <div style="width: 100%; border-top: solid 1px #ffffff; margin-top: 20px">
            <% topics.forEach(function(topic, index) { %>
              <% var i = index + 1 %>
              <% var topicNum = "topic" + i.toString() %>
              <% var topicNumLabel = topicNum + "label" %>
              <input type="radio" name="topics" id="<%= topicNumLabel %>" <% if (checked == topic['pathName']) { %>checked<% } %>/>
              <label for="<%= topicNumLabel %>" onclick="showOption('<%= topic['pathName'] %>')" class="forumLabel">
                <%= topic['topic'] %>
                <% if (isAdmin) { %>
                <button class="close" data-toggle="modal" data-target="#deleteTopic<%= topic['pathName'] %>" style="position: absolute; top: 7px; right: 7px; color: #ffffff">&times;</button>

                <div class="modal fade" id="deleteTopic<%= topic['pathName'] %>" role="dialog" style="color: black">
                  <div class="modal-dialog modal-sm" style="width: 250px">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">¿Estás seguro?</h4>
                      </div>
                      <div class="modal-body" style="padding-bottom: 39px">
                        <p>¿Quieres eliminar esta convercación?</p>
                      
                        <a href="/CompartirExperiencias/<%= topic['pathName'] %>"><button type="button" class="mybutton" style="background-color: #3a9ad9; float: left;">Eliminar</button></a>
                        <!-- <button type="button" class="mybutton" data-dismiss="modal">Cerrar</button> -->
                      </div>
                    </div>
                  </div>
               </div>

                <% } %>
              </label>
            <% }); %>
          </div>
        </div>


<!-- COMMENT SECTION -->

        <div style="width: 744px; height: 800px;">

          <div class="header" style="height:40px ;padding: 0px; margin-left: 18px;">
            <p style="margin-bottom: 0px; padding-top: 25px;"> Compartir Experiencias </p>
          </div>

          <div style="margin-left: 18px; margin-top: 40px;">

            <% topics.forEach(function(topic, index) { %>
              <% var i = index + 1 %>
              <% var topicNum = "topic" + i.toString() %>

              <div style="display: none" id="<%= topic['pathName'] %>" class="comments">
                <p style="font-family: Avenir-Roman; font-size: 22px; margin-bottom: 8px; margin-left: 2px"><%= topic['topic'] %></p>
                
<!-- Comment Modal -->
                <p class="addComment blue" data-toggle="modal" data-target="#addComment<%= topic['pathName']%>"><img src='/img/blueplus.png' class="plus">Añadir un comentario</p> 

                <div class="modal fade" id="addComment<%= topic['pathName']%>" role="dialog">
                  <div class="modal-dialog modal-sm" style="width: 500px">
                    <div class="modal-content">
                      <form action="/CompartirExperiencias/<%= topic['pathName'] %>" id="addComment" method="POST">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="text-align: center">Añadir a la conversación</h4>
                        </div>
                        <div class="modal-body" style="margin-bottom: 30px">
                          <label>Comentario
                              <textarea name="comment" rows="4"></textarea>
                          </label>
                          <label>Su nombre
                            <input type="text" name="name">
                          </label>
                          <input type="hidden" name="date" id="todayDate2"/>
                          <input type="submit" class="mybutton" value="Enviar" style="float: left" onclick='getDate()'></input>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
<!-- comments -->
                <div style="overflow-y: auto; height: 677px; width: 724px;">
                <% var comments = topic['comments']%>
                  <% comments.forEach(function(comment, index) { %>
                    <div class="comment">
                      <div style="margin: 1px; height: 50px width: 100%; padding: 16px; padding-bottom: 12px; border-bottom: solid 1px #dbdbdb;">
                        <% if (isAdmin) { %>
                        <div style="height: 15px"></div>
                        <button class="close" data-toggle="modal" data-target="#<%= comment['commentID'] %>" style="position: absolute; top: 11px; right: 13px; color: black;">&times;</button>

                        <div class="modal fade" id="<%= comment['commentID'] %>" role="dialog" style="color: black;">
                          <div class="modal-dialog modal-sm" style="width: 220px">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">¿Estás seguro?</h4>
                              </div>
                              <div class="modal-body" style="padding-bottom: 39px">
                                <p>¿Quieres eliminar este comentario?</p>
                              
                                <a href="/rm/<%= topic['pathName'] %>/<%= comment['commentID'] %>"><button type="button" class="mybutton" style="background-color: #3a9ad9; float: left;">Eliminar</button></a>
                                <!-- <button type="button" class="mybutton" data-dismiss="modal">Cerrar</button> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                        <p style="display: inline; font-family: Avenir-Light; font-size: 18px; line-height: 1.3;"><%= comment['name'] %></p>
                        <p style="display: inline; float: right; font-family: Avenir-Roman; font-size: 14px; line-height: 1.7; color: #9b9b9b;"><%= comment['date'] %></p>

                      </div>
                      <p style="padding: 20px; font-family: Avenir-Book; font-size: 14px; line-height: 1.5; color: #4a4a4a;"><%= comment['comment'] %></p>

                      
                    </div>
                  <% }); %>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    
      <% footerStyle = "margin: 25px; margin-bottom: 0" %>
      <% include partials/footer %>



    </div>

    <script>
    // $('#element').donetyping(callback[, timeout=1000])
    // Fires callback when a user has finished typing. This is determined by the time elapsed
    // since the last keystroke and timeout parameter or the blur event--whichever comes first.
    //   @callback: function to be called when even triggers
    //   @timeout:  (default=1000) timeout, in ms, to to wait before triggering event if not
    //              caused by blur.
    // Requires jQuery 1.7+
    //
    ;(function($){
        $.fn.extend({
            donetyping: function(callback,timeout){
                timeout = timeout || 1e3; // 1 second default timeout
                var timeoutReference,
                    doneTyping = function(el){
                        if (!timeoutReference) return;
                        timeoutReference = null;
                        callback.call(el);
                    };
                return this.each(function(i,el){
                    var $el = $(el);
                    // Chrome Fix (Use keyup over keypress to detect backspace)
                    // thank you @palerdot
                    $el.is('.search') && $el.on('keyup keypress paste',function(e){
                        // This catches the backspace button in chrome, but also prevents
                        // the event from triggering too preemptively. Without this line,
                        // using tab/shift+tab will make the focused element fire the callback.
                        if (e.type=='keyup' && e.keyCode!=8) return;
                        
                        // Check if timeout has been set. If it has, "reset" the clock and
                        // start over again.
                        if (timeoutReference) clearTimeout(timeoutReference);
                        timeoutReference = setTimeout(function(){
                            // if we made it here, our timeout has elapsed. Fire the
                            // callback
                            doneTyping(el);
                        }, timeout);
                    }).on('blur',function(){
                        // If we can, fire the event since we're leaving the field
                        doneTyping(el);
                    });
                });
            }
        });
    })(jQuery);

    $('.search').donetyping(function(){
      var text = document.getElementById("search").value
      var labels = document.getElementsByClassName('forumLabel')
      for (var i = 0; i < labels.length; i++){
        var labelText = labels[i].textContent
        if (labelText.indexOf(text) == -1) {
          labels[i].style.visibility = 'hidden';
          labels[i].style.position = 'absolute';
        } else {
          labels[i].style.visibility = 'visible';
          labels[i].style.position = 'relative';
        }
      }
    });

    function showOption(topic) {
      var elements = document.getElementsByClassName('comments')

      for (var i = 0; i < elements.length; i++){
          elements[i].style.display = "none";
      }

      document.getElementById(topic).style.display = "initial";
    }

    function hideIcon(self) {
      self.style.backgroundImage = 'none';
    }

    function getDate()
    {
        var today = new Date();
        var dd = today.getDate();
        var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
        var month = months[today.getMonth()]
        var yyyy = today.getFullYear();

        today = dd + ' de ' + month + ', ' + yyyy;

        document.getElementById("todayDate1").value = today
        document.getElementById("todayDate2").value = today
    }

    //call getDate() when loading the page
   

    $( window ).load(function() {
      getDate();
    })

    </script>

    <% if (checked != '') { %>
      <script>
        showOption('<%= checked %>')
      </script>
      <% } %>

  </body>
</html>