<html class="no-js" lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<link rel="shortcut icon" href="/img/logo_less.png" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<link rel="stylesheet" href="/stylesheets/app.css" />
		<link rel="stylesheet" href="/stylesheets/navbar.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-75871722-1', 'auto');
		  ga('send', 'pageview');

		</script>
    <script type="text/javascript" src="http://aprenderconinteres.org/js/bootstrap-filestyle.min.js"> </script>
	</head>
	<body style="background-color: #f2f2f2;">

		<% currPage = '/CatalogoDeOfertas' %>
		<% include partials/navbar %>
		<% var badge %>
		<% var audio %>
	    <% var desde %>
	    <% if (!desde) { desde = '' } %>
		<div class="main" style="width: 1024px">

			<form id="update" action="/edit/<%= pathName %>" method="POST" enctype="multipart/form-data">
				
				<textarea name="title" style="width: 450px; margin: auto; margin-top: 21px; height: 20px !important; padding: 6px; text-align: center; font-size: 24"><%= title %></textarea>

				<div style="position: relative; top: -27px;">
		      		<a href="/CatalogoDeOfertas/<%= pathName %>" style="display: inline; float: left; color: #0187e0 !important; position: relative; bottom: 2px;">&#9001 &nbsp Volver al tema</a>
		      		<p style="display: inline; float: right; padding-right: 25px; margin: 0;">
		      			<a data-toggle="modal" data-target="#deleteModal" style="color: #0187e0 !important">Eliminar Tema</a>
		      		</p>
		      		<div class="modal fade" id="deleteModal" role="dialog">
				    	<div class="modal-dialog modal-sm" style="width: 250px;">
					    	<div class="modal-content">
					        	<div class="modal-header">
					        		<button type="button" class="close" data-dismiss="modal">&times;</button>
					        		<h4 class="modal-title">¿Estás seguro?</h4>
					        	</div>
					        	<div class="modal-body" style="padding-bottom: 39px">
					        		<p>¿Quieres eliminar este tema?</p>
					        	
					        		<a href="/delete/<%= pathName %>"><button type="button" class="mybutton" style="background-color: #3a9ad9; float: left;">Eliminar</button></a>
					         		<!-- <button type="button" class="mybutton" data-dismiss="modal">Cerrar</button> -->
					        	</div>
					    	</div>
					    </div>
					</div>
	      		
      			</div>

      			<textarea name="descript" rows="3" style="float: left; margin: 0px 25px; margin-bottom: 15px; font-family: Avenir-Light; width: 974px"><%= descript %></textarea>

				<div style="width: 1024px; display:flex; padding: 25px; padding-top: 0px; margin: auto">
					<div>
						<div style="margin-top: 2px;">
						<p style="margin-bottom:5px; display: inline">
							<a data-toggle="modal" data-target="#fileModal" style="position: relative; left: 2px;color: #0187e0 !important;">&nbspCambiar el archivo</a>
						</p>
					</div>
						<div style="width: 650px; height: 900px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); margin-top: 18px;">

							<object data="/pdfs/<%= fileName %>" type="application/pdf" width="650" height="900" style="position: relative;">
								<p>Alternative text - include a link <a href="/app/pdfs/test.pdf">to the PDF!</a></p>
							</object>
						</div>

					</div>

					<div style="flex: 1; padding-left: 25px; padding-bottom: 20px;">

						

						<p style="font-family: Avenir-Medium; font-size:18px;">Competencias</p>
						<% var compString = '' %>
						<% comps.forEach(function(comp, index) { %>
		 						<% compString += (comp + ', ') %>
						<% }); %>
						<% compString = compString.substring(0, compString.length - 2); %>
						<textarea name="comps" rows="2"><%= compString %></textarea>
						
						<p style="font-family: Avenir-Medium; font-size:18px;">Temas relacionados</p>
						<% var temaString = '' %>
						<% temas.forEach(function(tema, index) { %>
		 						<% temaString += (tema + ', ') %>
						<% }); %>
						<% temaString = temaString.substring(0, temaString.length - 2); %>
						<textarea name="temas" rows="2"><%= temaString %></textarea>

						<p style="font-family: Avenir-Medium; font-size:18px;">Correo electrónico del experto</p>
	                    <textarea rows="1" name="email"><%= email %></textarea>

						<p style="font-family: Avenir-Medium; font-size:18px;">Disciplina</p>
	                    <select name="Cont" form="update">
                            <option value="Esp" <% if (cont == 'Esp') { %>selected<% } %>>Español</option>
                            <option value="Mat" <% if (cont == 'Mat') { %>selected<% } %>>Matemáticas</option>
                            <option value="Cie" <% if (cont == 'Cie') { %>selected<% } %>>Ciencias</option>
                            <option value="His" <% if (cont == 'His') { %>selected<% } %>>Historia</option>
                            <option value="Tex" <% if (cont == 'Tex') { %>selected<% } %>>Textos</option>
                        </select>

                        <p style="font-family: Avenir-Medium; font-size:18px;">Badge</p>
	                    <select name="badge" form="update">
                            <option value="True" <% if (badge) { %>selected<% } %>>Sí</option>
                            <option value="False" <% if (!badge) { %>selected<% } %>>No</option>
                        </select>

                        <p style="font-family: Avenir-Medium; font-size:18px;">Desde:</p>
	                    <textarea rows="1" name="desde"><%= desde %></textarea>

	                    <label style="display: inline; font-size: 18px;"><% if (audio && (audio != '')) { %>Cambiar<% } else { %>Añadir<% } %> archivo de audio
	                        <input type="file" class="filestyle" data-buttonText="Elija archivo" name="audio" id="audio" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
	                    </label>

	                    <input value="<%= pathName %>" name="OGpathName" style="display:none !important;">
	                    <input value="<%= fileName %>" name="fileName" style="display:none !important;">
	                    <input value=<% if (badge) { %>"True"<% } else { %>"False"<% } %> name="wasBadge" style="display:none !important;">
	                    <input value="<%= order %>" name="order" style="display:none !important;">

	            		<p><input type="submit" class="mybutton" value="Enviar"></input></p> 
				
					</div>

				</div>

			</form>

			<div class="modal fade" id="fileModal" role="dialog">
		    	<div class="modal-dialog modal-sm" >
			    	<div class="modal-content" style="width: 300px; height: 250px;">
			        	<div class="modal-header">
			        		<button type="button" class="close" data-dismiss="modal">&times;</button>
			        		<h4 class="modal-title">Cambiar El Archivo</h4>
			        	</div>
			        	<div class="modal-body" style="padding-bottom: 39px; position: absolute">
			        		<form id="newFile" action="/pdf/<%= pathName %>" method="POST" enctype="multipart/form-data">
				        		<label style="display: inline; font-size: 18px;"><p style="padding-bottom:10px">Elija un archivo neuvo</p>
			                        <input type="file" class="filestyle" data-buttonText="Elija archivo" name="newFile" id="new" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
			                    </label>
			                    <div style="display: inline-block; position: relative; top: -45px">
			                    <p style="font-family: Avenir-Roman; font-size: 14px; margin-bottom: 5px !important"><img src="/img/error.png" style="margin-bottom: 3px"> Aviso: el archivo antiguo se eliminará</p>
			                </div>
		            			<p><input type="submit" class="mybutton" value="Cambiar" style='position: relative; top: -40px'></input></p>
		            		</form>
			        	</div>
			    	</div>
			    </div>
			</div>

		<% var footerStyle = '' %>
		<% include partials/footer %>
		    
		
		</div>
	</body>
	<script>
	  $( window ).load(function() {
	      var elements = document.getElementsByClassName('form-control');
	      elements[0].style.marginTop = "30px";
	    })
	  </script>
</html>