<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>archivos</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body style="background-color: #f2f2f2;">
    
    <% var isAdmin = true %>
    <% include partials/navbar %>

    <div class="main" style="width: 700px">

      <div class="header"><%= temaNombre %></div>
      
      <ul>
        
        <li>Tema: <% if (tema) { %><a href='/pdfTemp/<%= tema %>' style="color: #0187e0 !important; font-size: 16px;"><%= tema %></a><% } else { %> Ningún archivo <% } %></li>
        <li>Materiales de apoyo: <% if (apoyo) { %><a href='/pdfTemp/<%= apoyo %>' style="color: #0187e0 !important; font-size: 16px;"><%= apoyo %></a><% } else { %> Ningún archivo <% } %></li>
        <li>Ejemplo de registro del tutor: <% if (tema) { %><a href='/pdfTemp/<%= tema %>' style="color: #0187e0 !important; font-size: 16px;"><%= tema %></a><% } else { %> Ningún archivo <% } %></li>
        <li>Ejemplo de registro del aprendiz: <% if (tema) { %><a href='/pdfTemp/<%= tema %>' style="color: #0187e0 !important; font-size: 16px;"><%= tema %></a><% } else { %> Ningún archivo <% } %></li>

      </ul>

    </div>

    

  </body>
</html>