<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<link rel="shortcut icon" href="/img/logo_less.png" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<link rel="stylesheet" href="/stylesheets/app.css" />
		<link rel="stylesheet" href="/stylesheets/navbar.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75871722-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
		<body style="background-color: #f2f2f2;">
			<% currPage = 'CdO' %>
			<% include partials/navbar %>
		<div class="main">

			<div class="header" style="padding-bottom:0; max-width: 500px; margin: auto;">
        		<%= title %>
      		</div>

      		<a href="/CatalogoDeOfertas" style="position: relative; top: -28px; left: 36px; color: #0187e0 !important;">&#9001 &nbsp Volver al Catálogo de Ofertas</a>
      		<% if (isAdmin) { %>
      			<button type="button" class="mybutton" data-toggle="modal" data-target="#myModal" style="position: relative; right: -545px; top: -28px; width: 170px; padding-left: 0px; padding-right: 0px;">ELIMINAR ESTE TEMA</button> 

      			<div class="modal fade" id="myModal" role="dialog">
			    	<div class="modal-dialog modal-sm">
				    	<div class="modal-content">
				        	<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal">&times;</button>
				        		<h4 class="modal-title">¿Estás seguro?</h4>
				        	</div>
				        	<div class="modal-body">
				        		<p>¿Quieres eliminar este tema?</p>
				        	</div>
				        	<div class="modal-footer">
				        		<a href="/delete/<%= pathName %>"><button type="button" class="mybutton" style="background-color: #f25d53">Eliminar</button></a>
				         		<!-- <button type="button" class="mybutton" data-dismiss="modal">Cerrar</button> -->
				        	</div>
				    	</div>
				    </div>
				</div>

      		<% } %>

      		<% if (isAdmin) { %>
      			<a href='/edit/<%= pathName %>'><button type="button" class="mybutton" style="position: relative; right: -370px; top: 5px; width: 170px;">EDITAR ESTE TEMA</button></a>

      		<% } %>
      		

			<div style="width: 950px; display:flex; padding: 25px; padding-top: 0px; margin: auto">
				<div>
				

				<a href="/pdfs/<%= fileName %>" style="position: relative; left: 2px;" download><p style="margin-bottom:5px;">Descargar</p></a>

				<div style="width: 650px; height: 900px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);">

					<object src="/pdfs/<%= pdf %>" width="650" height="900">
			            <embed src="/pdfs/<%= pdf %>"></embed>
			        </object>

				</div>

				</div>

				<div style="flex: 1; padding-left: 25px; padding-top: 35px; padding-bottom: 20px;">

					<p style="font-family: Avenir-Medium; font-size:18px;">Descripción</p>
					<p><%= descript %></p>

					<% if (((comps.length!=1) || (comps[0]!=" ")) && comps.length!=0) { %>

						<p style="font-family: Avenir-Medium; font-size:18px;">Competencias</p>
						<ul class="cote">
							<% comps.forEach(function(comp, index) { %>
	   	 						<li style="background-color: #3a9ad9"><%= comp %></li>
							<% }); %>
						</ul>

					<% } if (((comps.length!=1) || (comps[0]!=" ")) && comps.length!=0) { %>
						
						<p style="font-family: Avenir-Medium; font-size:18px;">Temas relacionados</p>
						<ul class="cote">
							<% temas.forEach(function(tema, index) { %>
	   	 						<li style="background-color: #f25d53"><%= tema %></li>
							<% }); %>
						</ul>

					<% } %>

					<form action="" id="ask" name='<%= pathName %>' method="POST" enctype="application/x-www-form-urlencoded">
                		
	                    	<p style="font-family: Avenir-Medium; font-size:18px;">Consulte al experto</p>
	                    	<p style="font-family: Avenir-Medium; font-size:18px; display: none; color: red" id="error">Información inválida</p>

	                    	<label>Correo electrónico	
	                        	<input type="text" name="email" id="email">
	                  		</label>
	                    	<label>Pregunta
	                        	<textarea name="question" rows="4" id="question"></textarea>
	                    	</label>
	                    	<input value="<%= title %>" name="subject" style="display:none">
	                    	<input type="submit" class="button" value="Enviar" style="border-radius: 3px; background-color: #0187e0; border: solid 1px #979797; font-size: 14px; font-face: Avenir-Light;	width: 72px;
	height: 32px; padding: 5px;" />
            		</form>

            		<p style="font-family: Avenir-Medium; font-size:18px; display: none" id="emailSent">¡Enviado!</p>
					
				</div>

			</div>

			<% var footerStyle = '' %>
			<% include partials/footer %>

		</div>
		
		<script>
		
			$("#ask").on('submit',function(e) {

				function validateEmail(email) {
					var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(email);
				}

				if (validateEmail($('#email').val()) && ($('#question').val() !== '')) {
					document.getElementById('ask').style.display='none'
					document.getElementById('emailSent').style.display='initial'
				} else {
					document.getElementById('error').style.display='initial'
					return false;
				}

			    e.preventDefault();
			    e.stopImmediatePropagation();

			    var path = 'http://aprenderconinteres.org/CatalogoDeOfertas/' + $('#ask').attr('name');

			    $.ajax({
			        type: "POST",
			        url: path,
			        data: $("#ask").serialize(),
			        success: function (data) {
			        	
			   		}
			    });

			    return false;

			});
		</script>

	</body>
</html>